
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

<h2>ToDoList</h2>
<p>1# Profilim</p>
<p>2# Tüm Başlıklarda paging</p>
<p>3# Mesajlarda session</p>
<p>4# Oturum yönetim işlemlerinin mimariye taşınması</p>
<p>5# Token Kullanımı</p>


