
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Category Index</h2>
<div>
    <table class="table table-bordered" style="margin-top:20px">
        <tr>
            <th>ID</th>
            <th>Kategori Açıklama</th>
            <th>Durum</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Spor</td>
            <td>True</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Eğitim</td>
            <td>True</td>
        </tr>

    </table>
</div>

